/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/bootstrap.rb
/recipes/
/secrets/
/spec/
/properties/
/.kondate.conf
/hosts.yml
.ruby-version
/kondate/
.vagrant
.tags
/bin/
